@font-face{
    font-family: "Monotone";
    src: url("./../fonts/Monoton-Regular.ttf") format("truetype");
}

@font-face{
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat-Medium.ttf') format('truetype');
}