//Colors
$white :#fff;
$pink: #D60D53;
$orange:#FB9B6B;
$primary:#130634;
$secondary:#260C67;
//Viewports
$mobile: 400px;
$mobile-md: 600px;
$tab: 800px;
$desktop: 1120px;

//Fonts
$primary-Font :  'Montserrat', sans-serif;
$secondary-Font : 'Monoton', cursive;