@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  border: none;
  outline: none;
}

body {
  overflow-x: hidden;
}

.hide-m {
  display: none;
}

@media (min-width: 800px) {
  .hide-m {
    display: block;
    pointer-events: all;
  }
}

.hide-mt {
  display: none;
}

@media (min-width: 1120px) {
  .hide-mt {
    display: block;
    pointer-events: all;
  }
}

.hide-td {
  display: block;
}

@media (min-width: 800px) {
  .hide-td {
    display: none;
    pointer-events: none;
  }
}

.hide-d {
  display: block;
}

@media (min-width: 1120px) {
  .hide-d {
    display: none;
    pointer-events: none;
  }
}

h2 {
  font-size: 18px;
}

@media screen and (min-width: 360px) {
  h2 {
    font-size: calc(18px + 18 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 36px;
  }
}

.responsive-img {
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex {
  display: block;
}

@media (min-width: 800px) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex--sbtw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  background-color: #130634;
}

html, body {
  overflow-x: hidden;
}

.nav-link {
  cursor: pointer;
}

@media (min-width: 800px) {
  .nav-link {
    margin: 0 16px;
    padding: 0 0 8px 0;
    color: #fff;
    background-color: transparent;
    position: relative;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzFfMV8iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOS4zIDYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE5LjMgNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTUuNSwzLjhDLTQuMiw0LjgtMi44LDYsMCw2czQuMi0xLjIsNS41LTIuMkM2LjYsMi44LDcuNiwyLDkuNywyczMsMC44LDQuMiwxLjhjMS4zLDEsMi43LDIuMiw1LjUsMi4yCglzNC4yLTEuMiw1LjUtMi4ybC0xLjQtMC45Yy0xLjEsMS0yLjEsMS44LTQuMiwxLjhzLTMtMC44LTQuMi0xLjhjLTEuMi0xLTIuNy0yLjItNS40LTIuMmMtMi44LDAtNC4yLDEuMi01LjUsMi4yCglDMywzLjksMi4xLDQuNywwLDQuN3MtMy0wLjgtNC4yLTEuOEwtNS41LDMuOHoiLz4KPC9zdmc+Cg==");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-repeat: repeat-x;
    background-size: 15px 5px;
    -webkit-animation: move 15s linear infinite;
            animation: move 15s linear infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    text-decoration: none;
    background-color: transparent;
  }
  .nav-link:active, .nav-link--active {
    background-color: transparent;
    color: #fff;
  }
  .nav-link:hover {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}

@-webkit-keyframes move {
  from {
    background-position: 0px 19px;
  }
  to {
    background-position: 700px 19px;
  }
}

@keyframes move {
  from {
    background-position: 0px 19px;
  }
  to {
    background-position: 700px 19px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-family: "Monoton", cursive;
  color: #fff;
  font-size: 36px;
}

#cd__header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#cd__header--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

#cd__nav--container {
  padding: 16px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.btn {
  border: none;
  padding: 18px 36px;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.btn--pink {
  background-color: #D60D53;
  color: #fff;
}

/* Button for mobile*/
.btn-mobile {
  margin: 15px auto;
  display: block;
}

@media (min-width: 800px) {
  .btn-mobile {
    display: none !important;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 800px;
}

@media (min-width: 1120px) {
  .hero {
    height: 100vh;
  }
}

.hero__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  position: relative;
}

@media (min-width: 800px) {
  .hero__main {
    height: 100%;
  }
}

.hero__main .flex {
  padding-top: 200px;
}

.hero__overlay {
  margin-top: 1vh;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 600px;
}

.hero__overlay > #arrow {
  position: absolute;
  width: 150px;
  top: 215px;
  left: 170px;
}

.hero__overlay > #pencil {
  position: absolute;
  width: 200px;
  top: 275px;
  left: -40px;
  -webkit-transform: rotate(-26deg);
          transform: rotate(-26deg);
}

.hero__overlay .ticket {
  position: relative;
  top: 400px;
  cursor: pointer;
}

.hero__overlay .ticket > #ticket-orange, .hero__overlay .ticket #ticket-pink {
  position: absolute;
  width: 350px;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__overlay .ticket > #ticket-pink {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.hero__overlay .ticket > #ticket-orange {
  z-index: 2;
}

.hero__overlay .ticket:hover > #ticket-orange {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.hero__overlay .ticket:hover > #ticket-pink {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.hero__bg {
  width: 100%;
  height: inherit;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
}

.hero__bg img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__left, .hero__right {
  color: #fff;
  text-align: center;
}

@media (min-width: 800px) {
  .hero__left {
    text-align: left !important;
  }
}

.hero__left p:nth-child(1), .hero__left p:nth-child(3) {
  font-weight: 600;
}

.hero__left p:nth-child(1), .hero__left p:nth-child(3) {
  font-size: 24px;
}

@media screen and (min-width: 360px) {
  .hero__left p:nth-child(1), .hero__left p:nth-child(3) {
    font-size: calc(24px + 12 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .hero__left p:nth-child(1), .hero__left p:nth-child(3) {
    font-size: 36px;
  }
}

.hero__left p:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__left p:nth-child(2) l1 {
  font-family: "Monoton", cursive;
  line-height: 120%;
}

.hero__left p:nth-child(2) l2 {
  font-weight: 800;
}

.hero__left p:nth-child(2) {
  font-size: 48px;
}

@media screen and (min-width: 360px) {
  .hero__left p:nth-child(2) {
    font-size: calc(48px + 82 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .hero__left p:nth-child(2) {
    font-size: 130px;
  }
}

.hero__right {
  padding-top: 10%;
}

@media (min-width: 800px) {
  .hero__right {
    padding: 0;
    text-align: right !important;
  }
}

.hero__right p:nth-child(1), .hero__right p:nth-child(3) {
  font-weight: 600;
}

.hero__right p:nth-child(1), .hero__right p:nth-child(3) {
  font-size: 18px;
}

@media screen and (min-width: 360px) {
  .hero__right p:nth-child(1), .hero__right p:nth-child(3) {
    font-size: calc(18px + 18 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .hero__right p:nth-child(1), .hero__right p:nth-child(3) {
    font-size: 36px;
  }
}

.hero__right p:nth-child(2) {
  font-family: "Monoton", cursive;
  color: #FB9B6B;
  line-height: 120%;
}

.hero__right p:nth-child(2) {
  font-size: 75px;
}

@media screen and (min-width: 360px) {
  .hero__right p:nth-child(2) {
    font-size: calc(75px + 55 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .hero__right p:nth-child(2) {
    font-size: 130px;
  }
}

.hero__social {
  color: #fff;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -ms-flex-direction: flex-end;
      flex-direction: flex-end;
}

.hero__social p:first-child {
  font-weight: 600;
}

.sub-section {
  height: 600px;
  position: relative;
}

@media (min-width: 800px) {
  .sub-section {
    height: 60vh;
  }
}

@media (min-width: 1120px) {
  .sub-section {
    height: 80vh;
  }
}

.sub-section h1 {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 100%;
}

.sub-section section {
  height: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .sub-section section {
    padding-top: 180px;
  }
}

.card {
  width: 300px;
  min-width: 300px;
}

.card-1 {
  position: relative;
  height: 400px;
}

.card-1:nth-of-type(odd) .card-1__name-plate {
  background-color: #D60D53;
}

.card-1:nth-of-type(even) {
  margin-top: 16px;
}

.card-1:nth-of-type(even) .card-1__name-plate {
  background-color: #FB9B6B;
}

.card-1__name-plate {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 16px;
  padding-left: 16px;
  background-color: #FB9B6B;
  color: #fff;
}

.card-1__name-plate > h3 {
  font-size: 30px;
  font-weight: 600;
}

#speaker {
  margin-bottom: 100px;
  margin-top: 100px;
}

#speaker > section {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

#speaker #cur-speakers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  #speaker #cur-speakers {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 800px) {
  #speaker #cur-speakers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#speaker .last-speakers {
  margin-top: 80px;
}

#speaker .last-speakers .lst-yr-ttl {
  color: #FB9B6B;
  font-size: calc(30px + 18 * ((100vw - 360px) / 1560));
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
}

#speaker .last-speakers .cards {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#speaker .last-speakers .cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  background-color: #260c67;
  color: #fff;
}

#speaker .last-speakers .cards .card .spr-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

#speaker .last-speakers .cards .card .spr-img img {
  max-width: 100%;
}

#speaker .last-speakers .cards .card .name-sec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  padding: 15px;
}

#speaker .last-speakers .cards .card .name-sec .spkr-desg {
  margin-top: 2px;
}

#sponsors {
  height: 100%;
}

#sponsors section {
  padding-top: 16%;
  display: block;
}

#sponsors section > .bg-pink {
  padding: 24px;
  position: relative;
  color: #fff;
}

#sponsors section > .bg-pink > h2 {
  font-weight: 600;
}

#sponsors section > .bg-pink > h2 {
  font-size: 24px;
}

@media screen and (min-width: 360px) {
  #sponsors section > .bg-pink > h2 {
    font-size: calc(24px + 48 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  #sponsors section > .bg-pink > h2 {
    font-size: 72px;
  }
}

#sponsors section > .bg-pink > p {
  padding-top: 24px;
}

#sponsors section > .bg-pink > p {
  font-size: 16px;
}

@media screen and (min-width: 360px) {
  #sponsors section > .bg-pink > p {
    font-size: calc(16px + 16 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  #sponsors section > .bg-pink > p {
    font-size: 32px;
  }
}

#sponsors section > .bg-pink::after {
  display: none;
}

@media (min-width: 800px) {
  #sponsors section > .bg-pink::after {
    display: block;
    content: "";
    position: absolute;
    background-color: #E54C61;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: -1;
  }
}

#sponsors section #last-year {
  padding: 0;
  padding-top: 60px;
}

#sponsors section #last-year > h3 {
  color: #FB9B6B;
  font-weight: 600;
  text-align: center;
}

#sponsors section #last-year > h3 {
  font-size: 18px;
}

@media screen and (min-width: 360px) {
  #sponsors section #last-year > h3 {
    font-size: calc(18px + 18 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  #sponsors section #last-year > h3 {
    font-size: 36px;
  }
}

#sponsors section #last-year #hr__scroll {
  margin: 16px 0;
  height: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-color: #FB9B6B;
}

#sponsors section #last-year #hr__scroll > ul {
  width: 1000px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: moveSlideshow 20s linear infinite;
          animation: moveSlideshow 20s linear infinite;
}

#sponsors section #last-year #hr__scroll > ul li {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin-left: 24px;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}

#cd__footer {
  margin-top: 100px;
  color: #fff;
  padding: 36px 0;
}

#cd__footer #sf-logo {
  width: 150px;
}

#cd__footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}

#cd__footer--nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

#cd__footer--nav--container a {
  font-weight: 600;
}

@media (min-width: 800px) {
  #cd__footer--nav--container {
    gap: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#cd__footer #copyright {
  font-size: 14px;
}

.text-gradient-pink {
  width: 100%;
  background: linear-gradient(150deg, #FF0D86, #B7015C);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.text-gradient-pink {
  font-size: 40px;
}

@media screen and (min-width: 360px) {
  .text-gradient-pink {
    font-size: calc(40px + 90 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .text-gradient-pink {
    font-size: 130px;
  }
}

@media (min-width: 800px) {
  .text-gradient-pink {
    background-size: 60% 100%;
  }
}

@media (min-width: 1120px) {
  .text-gradient-pink {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.text-gradient-orange {
  width: 100%;
  background: linear-gradient(150deg, #FB9B6B, #DA5A1A);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-weight: 600;
}

.text-gradient-orange {
  font-size: 16px;
}

@media screen and (min-width: 360px) {
  .text-gradient-orange {
    font-size: calc(16px + 32 * ((100vw - 360px) / 1560));
  }
}

@media screen and (min-width: 1920px) {
  .text-gradient-orange {
    font-size: 48px;
  }
}

.bg-pink {
  background-color: #D60D53;
}

.overlay-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  z-index: -1;
}

.font-sec {
  font-family: "Monoton", cursive;
}

.text-center {
  text-align: center;
}

.btn-disabled {
  cursor: not-allowed;
  background: none;
}
/*# sourceMappingURL=main.css.map */