// Importing Fonts from GFonts
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// SASS files

@import "./variables";
@import "./resets";
@import "./flex-helpers";

html{
    background-color: $primary;
}
.nav-link{
    cursor: pointer;
    @include tab{
        margin: 0 16px;
        padding: 0 0 8px 0;
        color: $white;
        background-color:  transparent;
        position: relative;
        // overflow: hidden;
        background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzFfMV8iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOS4zIDYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE5LjMgNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNGRkZGRkY7fQo8L3N0eWxlPgo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTUuNSwzLjhDLTQuMiw0LjgtMi44LDYsMCw2czQuMi0xLjIsNS41LTIuMkM2LjYsMi44LDcuNiwyLDkuNywyczMsMC44LDQuMiwxLjhjMS4zLDEsMi43LDIuMiw1LjUsMi4yCglzNC4yLTEuMiw1LjUtMi4ybC0xLjQtMC45Yy0xLjEsMS0yLjEsMS44LTQuMiwxLjhzLTMtMC44LTQuMi0xLjhjLTEuMi0xLTIuNy0yLjItNS40LTIuMmMtMi44LDAtNC4yLDEuMi01LjUsMi4yCglDMywzLjksMi4xLDQuNywwLDQuN3MtMy0wLjgtNC4yLTEuOEwtNS41LDMuOHoiLz4KPC9zdmc+Cg==');
        background-position: 0 100%;
        background-size: auto 6px;
        background-repeat: repeat-x;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
        background-repeat: repeat-x;
        background-size: 15px 5px; 
        animation: move 15s linear infinite;
        animation-play-state: paused;
        text-decoration: none;
        background-color: transparent;      
        &:active,&--active{
            background-color:transparent;
            color: $white;
        }
        &:hover{
           
            animation-play-state: running;
        }
    }
}
@keyframes move {
    from {
        background-position: 0px 19px;
      }
    to {
        background-position: 700px 19px;
    }
}
.container{
    width: 90%;
    margin: 0 auto;
}
.logo{
    font-family: $secondary-Font;
    color: #fff;
    font-size: 36px;
}
//---header---
#cd__header{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    
    &--container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
}
//---nav---
#cd__nav{
    &--container{
        padding: 16px 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap:8px;
    }
}
//---buttons---
.btn{
    border: none;
    padding: 18px 36px;
    cursor: pointer;
    outline: none;
    font-family: $primary-Font
}
.btn--pink{
    background-color: $pink;
    color:$white;
   
}
/* Button for mobile*/
.btn-mobile{
    margin: 15px auto;
    display: block;
}
@media (min-width: $tab){
    .btn-mobile{
        display: none!important;
    }
}
//---Hero---

.hero{
    display: flex;
    height: 800px;
    @include desktop{
        height: 100vh;
    }
    &__main{
        display: grid;
        grid-template-rows: 1fr auto;
        flex-direction: column;
        height: 70%;
        position: relative;
        @include tab{
            height: 100%;
        }
        .flex{
            padding-top: 200px;
            
        }
    }
    &__overlay{
        margin-top: 1vh;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 500px;
        height: 600px;
        & > #arrow{
            position: absolute;
            width: 150px;
            top: 215px;
            left: 170px;
        }
        & > #pencil{
            position: absolute;
            width: 200px;
            top: 275px;
            left: -40px;
            transform: rotate(-26deg); 
        }
        & .ticket{
            position: relative;
            top: 400px;
            cursor: pointer;
            & > #ticket-orange,#ticket-pink{
                position: absolute;
                width: 350px;
                top: 0;
                right: 0;
                transition: transform .55s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            & > #ticket-pink{
                transform: rotate(-6deg);
            }
            & > #ticket-orange{
                
                z-index: 2;
            }
            &:hover{
                & > #ticket-orange{
                    transform: rotate(-3deg);
                }
                & > #ticket-pink{
                    transform: rotate(6deg);
                }
            }
        }
    }
    &__bg{
        width: 100%;
        height: inherit;
        position: absolute;

        transform: rotate(180deg);
        z-index: -1;
        img{           
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }
    &__left,&__right{
        color: $white;
        text-align: center;
    }
    &__left{
        @include tab{
            text-align: left !important;
        }
       
       p:nth-child(1),p:nth-child(3){
        font-weight:600;
        @include fluid-type(360px, 1920px, 24px, 36px);
       }
       p:nth-child(2){
            display: flex;
            flex-direction: column;
            l1{
                font-family: $secondary-Font;
                line-height: 120%;
            }
            l2{
                font-weight: 800;
            }
            @include fluid-type(360px, 1920px, 48px, 130px);
       }
     
    }
    &__right{
        padding-top: 10%;
        @include tab{
            padding: 0;
            text-align: right !important;
        }
        p:nth-child(1),p:nth-child(3){
            font-weight: 600;
            @include fluid-type(360px, 1920px, 18px, 36px);
        }
        p:nth-child(2){
            @include fluid-type(360px, 1920px, 75px, 130px);
            font-family: $secondary-Font;
            color: $orange;
            line-height: 120%;
       }
    }
    &__social{
        color: $white;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-direction: flex-end;
        p:first-child{
            font-weight: 600;
        }
    }
}




.sub-section{
    height: 600px;
    @include tab{
        height: 60vh;
    }
    @include desktop{
        height: 80vh;
    }
    position: relative;
    & h1{
            position: absolute;
            top: 0;
            left: -5px;
            line-height: 100%;
        }
    & section{
        height: 100%;
        padding-top: 8.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//Speaker

#speaker{
    margin-top: 100px;
}
// Sponsors
#sponsors{
    
    height: 100%;
    & section{
        padding-top: 16%;
        display: block;
        & > div{
            padding: 24px;
            position: relative;
            color: $white;
            & > h2{
                font-weight: 600;
                @include fluid-type(360px,1920px,24px,72px)
            }
            & > p{
                padding-top: 24px;
                @include fluid-type(360px,1920px,16px,32px)
            }
            &::after{
                display: none;
                @include tab{
                    content: "";
                    position: absolute;
                    background-color: #E54C61;
                    width: 100%;
                    height: 100%;
                    top: 10px;
                    left: 10px;
                    z-index: -1;
                }           
            }
        }
        #last-year{
            padding: 0;
            padding-top: 60px;
            & > h3{
                color: $orange;
                font-weight: 600;
                @include fluid-type(360px,1920px,18px,36px);
                text-align: center;
            }
           
            #hr__scroll{
                margin: 16px 0 ;
                height: 50px;
                position: relative;
                overflow: hidden;
                transform: translate3d(0, 0, 0);
                background-color: $orange;
                & > ul{
                    width: 1000px;
                    height: 50px;
                    display: flex;
                    gap: 24px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate3d(0, 0, 0);
                    animation: moveSlideshow 20s linear infinite;
                    & li{
                        width: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: 0 0 100px;
                    }
                }
            }
            
        }
        
    }
}
@keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
}
// Footer

#cd__footer{
    margin-top: 100px;
    color: $white;
    padding:36px 0;
    #sf-logo{
        width: 150px;
    }
    &--container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
       
    }
    &--nav{
        &--container{
            display: flex;
            flex-direction: column;
            gap: 16px;
            &  a{
                font-weight: 600;
            }
            @include tab{
                gap: 60px;
                flex-direction: row
            }
        }
    }
    & #copyright{
        font-size: 14px;
    }
}



.text-gradient-pink{
    @include fluid-type(360px,1920px,40px,130px);
    width: 100%;
    background: linear-gradient(150deg, #FF0D86, #B7015C);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%;
    @include tab{
        background-size: 60% 100%;
    }
    background-repeat: no-repeat;
    transform: translateX(-10px);
    @include desktop{
        transform: translateX(-20px)
    }
}
.text-gradient-orange{
    @include fluid-type(360px,1920px,16px,48px);
    width: 100%;
    background: linear-gradient(150deg, #FB9B6B, #DA5A1A);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-weight: 600;
}

// Helpers
.bg-pink{
    background-color: $pink;
}
.overlay-img{
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -1;
    
}
.font-sec{
    font-family: $secondary-Font ;
}
.text-center{
    text-align: center;
}